  <table>
    <thead>
      <th>Date Deposited</th><th>Name</th><th>Employer Name</th><th>Amount</th>
      <th>Mileage</th>
    </thead>
    <tbody>
      <% employer_collection.each do |employer| %>
        <% employer.checks.each do |check| %>
          <tr>
            <td><%=check.created_at.strftime("%m/%d/%Y")%></td>
            <td><%=check.name%></td>
            <td><%= link_to employer.name, edit_tax_year_employer_path(current_tax_year, employer) %></td>
            <td>$<%=check.amount%></td>
            <td><%=check.mileage%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
