  <table>
    <thead>
      <th>Check Date</th><th>Name</th><th>Employer Name</th><th>Amount</th>
      <th>Mileage</th>
    </thead>
    <tbody>
      <% employer_collection.each do |employer| %>
        <% employer.checks.each do |check| %>
          <tr>
            <td><%= check.check_date.strftime("%m/%d/%Y") %> </td>
            <td><%= check.name %> </td>
            <td><%= link_to employer.name, employer_path(employer)%><%=" "%> </td>
            <td>$<%= check.amount %></td>
            <td><%= check.mileage %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>$<%=current_tax_year.checks.no_form_checks.total_amount %></td>
        <td>$<%= current_tax_year.no_form_total_mileage %></td>
      </tr>
    </tbody>
  </table>
