  <table>
    <thead>
      <th>Check Date</th><th>Name</th><th>Employer Name</th><th>Amount</th>
      <th>Mileage</th>
    </thead>
    <tbody>
        <% no_form_checks.each do |check| %>
          <% if check.tax_year == @tax_year %>
            <tr>
              <td><%= check.check_date.strftime("%m/%d/%Y") %> </td>
              <td><%= link_to check.name, tax_year_check_path(check.tax_year, check) %> </td>
              <td><%= link_to check.employer.name, employer_path(check.employer)%><%=" "%> </td>
              <td>$<%= check.amount %></td>
              <td><%= check.mileage %></td>
            </tr>
          <% end %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>$<%= no_form_checks.sum(&:amount) %></td>
        <td><%= no_form_checks.sum(&:mileage) %></td>
      </tr>
    </tbody>
  </table>
