<% employer_collection.each do |employer| %>
  <div class= "text-left"><%= link_to employer.name, tax_year_employer_path(current_tax_year, employer) %></div>
  <div>
    <table >
      <thead>
        <th>Check Date</th><th>Name</th><th>Amount</th>
        <th>Mileage</th>
      </thead>
      <tbody id="table-<%=employer.id%>">
        <% employer.checks.by_year(current_tax_year).each do |check| %>
        <tr>
          <td><%= check.check_date.strftime("%m/%d/%Y") %></td>
          <td><%= link_to check.name, tax_year_check_path(check.tax_year, check), class: 'check', id: check.id, data_set: check.tax_year.id%></td>
          <td>$<%=check.amount%></td>
          <td><%=check.mileage%></td>
        </tr>
        <% end %>
        <tr id= "total-<%=employer.id%>">
          <td></td>
          <td>Total</td>
          <td>$<%= employer.checks.total_amount %></td>
          <td><%= employer.checks.total_mileage %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>
  <% end %>
