<%= render partial: 'users/errors', locals: {object: @check} %>


<%= form_for @check, url: tax_year_checks_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label 'Date on Check'%>
  <%= f.date_field :check_date%><br>
  <%= f.label :amount %>
  <%= f.number_field :amount, class: :text_field, step: :any %><br>
  <%= f.label 'Miles Driven (Round-Trip)' %>
  <%= f.number_field :mileage %><br>
  <%= f.label 'Select an Employer' %>
  <%= f.collection_select :employer_id, @check.tax_year.employers.uniq, :id, :name, include_blank: true %><br>
  <% if !@check.employer %>
    <%= f.label 'Or Write the Name of a New One' %>
    <%= f.text_field :employer %><br>
  <% end %>
  <%= f.submit id: "submit_button" %>
<% end %>


<div id="checkResult">
  <h2>Your New Check:</h2>
  <h4 id="checkName"></h4>
  <p id="checkDate"></p>
  <p id="checkAmount"></p>
  <p id="checkMileage"></p>
  <p id="checkEmployer"></p>
</div>

  
</script>
<script type="text/javascript" charset="utf-8">
  $(function () {

    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize()
      debugger
      var posting = $.post('/checks', values)
      posting.done(function(data) {
        var check = data
        $('#checkName').text(check['name'])
        $('#checkDate').text(check['check_date'])
        $('#checkAmount').text(check['amount'])
        $('#checkMileage').text(check['mileage'])
        $('#checkEmployer').text(check['employer']['name'])
      })
    })
  })
</script>
